<!doctype html>
<html>
	<head>
		<title>Home Page</title>
		<style type="text/css" media="screen">
			body {
				background-color: skyblue;
				text-decoration-color: white;
				font-size: 7em;
			}
		</style>
	</head>

	<body>

  <h1>Hello, <%- username %>!</h1>
  <p>Your age is <%- age %> and your email is <%- email %>.</p>
  <p>Raw HTML content: <%- rawHTML %></p>


		<center>
				</center>
	</body>
</html>
