body {
  background-color: aquamarine;
}

ul {
  display: flex;
  float: right;
}

ul>li {
  background-color: blueviolet;
  margin: 0px 5px;
  list-style-type: none;
  padding: 5px;
  border: 1px solid red;
}

a {
  text-decoration-style: none;
  color: white;
  text-decoration: none !important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

img {
  padding: 5px;
  width: 600px;
  height: 600px;
}

.box {
  background-color: bisque;

  display: flex;
}

.article {
  text-align: center;
  width: 300px;
  margin: 10px;
  background-color: red;
}

.aside {
  text-align: center;
  width: 300px;
  margin: 10px;
  background-color: aqua;
}

.acide_box {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  margin: 2px;
  background-color: black;
}